@import 'app/index.scss';
@import 'app/bills.scss';
@import 'app/reports.scss';

@import 'app/billAddFieldDirective';

.justify-content-center {
  justify-content: center;
}
.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-55 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.capitalize {
  text-transform: capitalize;
}
.disabled {
  pointer-events: none;

}
