<ion-view view-title="Статистика">
  <ion-content>

    <!--За период-->

      <!-- Продукт-->
      <p>Статистика за ноябрь 2015</p>
      <p>Продукт: Огурцы</p>
      <p>Куплено: 32</p>
      <p>Потрачено всего: 5023р.</p>
      <p>Наименьшая цена: 12р.</p>
      <p>Средняя цена: 156,96875р.</p>
      <p>Наибольшая цена: 200р.</p>
      <!-- Продукт -->

      <!-- Категория-->
      <p>Статистика за период 17.11.2015 - 23.11.2015</p>
      <p>Категория: Овощи</p>
      <p>Куплено всего: 56</p>
      <p>Часто покупаемый продукт: Огурцы</p>
      <p>Потрачено всего: 12300р.</p>
      <!-- Категория-->

      <!--покупки-->
      <p>Статистика за год</p>
      <p>Категория: покупки</p>

      <!--покупки-->

    <!--за период-->

    <!-- общая -->

      <!-- Продукт-->
      <p>Продукт: Огурцы</p>
      <p>Куплено: 324</p>
      <p>Потрачено: 5023р.</p>
      <p>Наименьшая цена: 12р.</p>
      <p>Средняя цена: 156,96875р.</p>
      <p>Наибольшая цена: 200р.</p>
      <!-- Продукт -->

      <!-- Категория-->
      <p>Категория: Овощи</p>
      <p>Куплено всего: 564</p>
      <p>Часто покупаемый продукт: Огурцы 32шт.</p>
      <p>Редко покупаемый продукт: Свекла 0шт.</p>
      <p>Самый дешевый продукт: Огурец 10р.</p>
      <p>Самый дорогой продукт: Огурец 450р.</p>
      <p>Потрачено всего: 12300р.</p>
      <!-- Категория-->

      <!--покупки-->
      <p>Категория: покупки</p>
      <p>Количество чеков: 4203шт.</p>
      <p>Часто покупаемый продукт: Огурец</p>
      <p>Редко покупаемый продукт: Чипсы</p>
      <p>Самый дорогой продукт: Виски Лоуренс</p>
      <p>Самый дешевый продукт: Шоколадный батончик KitKat</p>
      <p>Часто покупаемая категория: Алкоголь</p>
      <p>Редко покупаемая категория: Специи</p>
      <p>Самый дорогой чек: 12325р. 17:11:2015</p>

      <!--покупки-->

    <!--общая-->

  </ion-content>
</ion-view>
