<ion-view view-title="Главная">
  <ion-content>
    <div class="content padding">
      <div class="card">
        <p>Сегодня было сделано 5 покупок</p>

        <p>Продуктов куплено: 14</p>

        <p>На сумму 320р.</p>

        <p>Вы превысили свой дневной лимит на 70р.</p>
      </div>
      <div class="card">
        <button class="button">Посмотреть отчет за сегодня</button>
        <button class="button" data-ui-sref="app.bills-add">Добавить чек</button>
      </div>
    </div>
  </ion-content>
</ion-view>
